@media only screen and (max-width: 980px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    
    header nav {
        flex-direction: column;
        background-color: #4aaaa5;
    }
    header .container{
        width: 100%;
    }
    header h1 {
        margin: 0 auto;
    }
    header ul {
        background-color: white;
        width: 100%;
        text-align: center;
        padding:10px 0 10px 0;
    }
    .pcol{
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 640px) {

    .portfolio-container{
        flex-direction: column;
    }

    .pcol{
        flex-basis: 100%;
    }

    input, textarea {
        width: 100%;
    }

}